<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.chiachen.portfolio">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".global.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.ProgressButtonActivity">
        </activity>
        <activity
            android:name=".activity.EditTextActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">
        </activity>
        <activity android:name=".activity.BottomTabActivity">
        </activity>
        <activity android:name=".activity.MVPPracticeActivity">
        </activity>
        <activity android:name=".activity.RxJavaRetrofitActivity">
        </activity>
        <activity android:name=".activity.CustomImageActivity">
        </activity>
        <activity android:name=".activity.FlipCardActivity">
        </activity>
        <activity android:name=".activity.ActivityTransitionA">
        </activity>
        <activity android:name=".activity.ActivityTransitionB">
        </activity>
        <activity android:name=".activity.ReposListActivity">
        </activity>
        <activity android:name=".activity.rxjava.RxJavaExampleActivity">
        </activity>
        <activity android:name=".activity.rxjava.RxJavaCreateActivity">
        </activity>
        <activity android:name=".activity.rxjava.RxJavaMapActivity">
        </activity>
        <activity android:name=".activity.rxjava.RxJavaFlatMapActivity">
        </activity>
        <activity android:name=".activity.rxjava.RxJavaConcatMapActivity">
        </activity>
        <activity
            android:name=".activity.TabLayoutActivity"
            android:theme="@style/AppTheme.NoActionBar_">
        </activity>
        <activity
            android:name=".activity.BroadcastActivity"
            android:theme="@style/AppTheme.NoActionBar_">
        </activity>
        <activity android:name=".activity.SqliteActivity">
        </activity>
        <activity android:name=".activity.rxjava.ThrottleActivity">
        </activity>
        <activity android:name=".activity.ServiceActivity">
        </activity>

        <service
            android:name=".service.MyService"
            android:enabled="true">
        </service>

        <activity android:name=".activity.ParcelableActivity">
        </activity>
        <activity android:name=".activity.BottomDialogTestActivity">
        </activity>
        <activity android:name=".activity.page.RoutingPageAActivity">
        </activity>
        <activity android:name=".activity.page.RoutingPageBActivity">
        </activity>
        <activity android:name=".activity.page.RoutingPageCActivity">
        </activity>
        <activity android:name=".activity.page.RoutingPageDActivity">
        </activity>
        <activity
            android:name=".activity.DrawerExampleActivity"
            android:theme="@style/AppTheme.NoActionBar__">
        </activity>
        <activity android:name=".activity.ContinuousDownloadActivity">
        </activity>
        <activity android:name=".activity.eventbus.EventBusMainActivity">
        </activity>
        <activity android:name=".activity.eventbus.EventBusSecondActivity">
        </activity>
        <activity android:name=".activity.di.Dagger2ExampleActivity">
        </activity>
    </application>

</manifest>